{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block blkContent %}
  <div class="content-section col-lg-8">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Join Today
        </legend>
        {{ dictForm|crispy }}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
          Sign Up
        </button>
      </div>
    </form>

    <div class="border-top pt-3">
      <small>
        Already Have An Account? <a class"ml-2" href="{% url 'login' %}">Login Now</a>
      </small>
    </div>
  </div>
{% endblock blkContent %}
    
