{% extends "main/base.html" %}

{% block blkContent %}
  
    <!-- Grid row -->
    <div class="gallery" id="gallery">
      {% for post in keyPosts %}
        <a class="article-title" href="{% url 'post-detail' post.id %}">
           {% if post.imgRide %}               
            <div class="mb-3 pics animation all 2">
              <img class="img-fluid" src="{{ post.imgRide.url }}" alt="Card image cap">
            </div>
          {% endif %}  
        </a>
      {% endfor %}
    </div>

  
{% endblock blkContent %}