{% extends "main/base.html" %}

{% block blkContent %}
  
  {% for post in keyPosts %}
    <article class="media content-section col-lg-4 post-artcle">
      <a class="article-title" href="{% url 'post-detail' post.id %}">
        <div class="media-body">
          {% if post.imgRide %}
            <img class="post-image" src="{{ post.imgRide.url }}"></img>                
          {% endif %}  
          <h5>{{ post.title }}</h5>
        </div>
      </a>
    </article> 
  {% endfor %}

{% endblock blkContent %}