{% extends "main/base.html" %}
<style type="text/css">
  body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin: auto;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
  width: 50%;
}

.img-fluid{
  width: 99% !important;
}

.img-fluid:hover {
  width: 100% !important;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.post-artcle{
  float: left;
  width: 32%;
  margin-left: 1%;
}

.post-image{
  width: 100%;
}

.post-image:hover {
  cursor: pointer;
}

/*GAllry css */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

.width-100{
  width: 100%;
}

/**/

.my-posts-a{
  text-decoration: none !important;

}

.modal-right-div{
  float: left;
}
.modal-padding{
  padding: 0px;
}
.modal-close{
  padding: 16px !important;
}

.next{
  margin-top:55px;
  float:right;
  font-size:30px;
}

.prev{
  margin-top:352px;
  font-size:30px;
}

/* Rating stars box CSS start */

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;  
  -moz-user-select:none;
  -webkit-user-select:none;
}

.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* Rating stars box CSS End */
.post-comment-button{
  margin-top:5px;
  border-radius:3px;
}
</style>
{% block blkContent %}
  <!-- Grid row -->
  <div class="gallery" id="gallery">
    {% for post in keyPosts %}
      <a class="pop" href="#" >
         {% if post.imgRide %}               
          <div class="mb-3 pics animation all 2">
            <img class="img-fluid custom-id" id="{{ post.id }}" src="{{ post.imgRide.url }}" alt="Card image cap">
          </div>
        </a>
          <p class="post-title" id="post-title-{{ post.id }}" hidden>{{post.title}}</p>
          <p class="post-title" id="post-description-{{ post.id }}" hidden>{{post.description}}</p>
          <p class="post-title" id="post-date-posted-{{ post.id }}" hidden>{{post.date_posted}}</p>
        {% endif %} 
    {% endfor %}
  </div>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="
    myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg width-100">
      <div class="modal-content width-100">              
        <div class="modal-body width-100 modal-padding">
          <button type="button" class="close modal-close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <div class="col-lg-12 modal-padding">
            <div class="col-lg-1 modal-right-div">
              <a href="#">
                <p class="prev">&lt;</p>
              </a>
            </div>            
            <div class="col-lg-7 modal-right-div modal-padding">
              <img src="" class="imagepreview width-100">
            </div>
            <div class="col-lg-4 modal-right-div">
              <p class="post-title-p"></p>
              <p class="post-description-p"></p>
              <p class="post-date-posted-p"></p>
              <p class="post-author-p"></p>
              <form method="POST">
                {{ form.as_p }}
                <button class="btn-primary post-comment-button">Post</button>
              </form>
              
              <!-- Rating Stars Box -->
              <section class='rating-widget'>
                <div class='rating-stars text-center'>
                  <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Average' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                </div>  
              </section>
              <!-- Rating Stars Box End-->
              <a href="#">
                <p class="next">&gt;</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% endblock blkContent %}