{% extends "base.html" %}
{% block blkContent %}

<!-- gallery start -->
<div  id="gallery">
  <div class="row">
    {% for post in keyPosts %}
      {% if post.imgRide %}
        <div class="pop col-lg-4 col-md-6 col-sm-6 col-12" >
          <div class="pics" data-aos="fade-up">
            <img class="img-fluid custom-id" id="{{ post.id }}" src="{{ post.imgRide.url }}" alt="{{ post.imgRide.url }}">
            <p class="post-title" id="post-title-{{ post.id }}" >{{post.title}}</p>
            <p class="post-title" id="post-description-{{ post.id }}" hidden>{{post.description}}</p>
            <p class="post-title" id="post-date-posted-{{ post.id }}" hidden>{{post.date_posted}}</p>
          </div>
        </div>
      {% endif %} 
    {% endfor %}
  </div>
</div>
<!-- gallery end -->

<!-- gallery start -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="
  myModalLabel" aria-hidden="true">
  <div class="modal-dialog width-100">
    <div class="modal-content width-100">              
      <div class="modal-body width-100 ">
        <button type="button" class="close modal-close" data-dismiss="modal">
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>

        <button type="button"  class="prev"><i class="fa fa-angle-left"></i></button>
        <button type="button"  class="next"><i class="fa fa-angle-right"></i></button>

          <div class="modal-elem">
            <div class="modal-elem-left">
              <img src="" class="imagepreview width-100">
            </div>
            <div class="modal-elem-right">
              <h5 class="post-title-p"></h5>
              <p class="post-date-posted-p"></p>
              <p class="post-description-p"></p>
              <p class="post-author-p"></p>
              
              <!-- Rating Stars Box -->
              <div class='rating-widget star-rate'>
                <div class='rating-stars text-center'>
                  <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                      <i class='fa fa-star'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                      <i class='fa fa-star'></i>
                    </li>
                    <li class='star' title='Average' data-value='3'>
                      <i class='fa fa-star'></i>
                    </li>
                    <li class='star' title='Good' data-value='4'>
                      <i class='fa fa-star'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='5'>
                      <i class='fa fa-star'></i>
                    </li>
                  </ul>
                </div>  
              </div>
              <!-- Rating Stars Box End-->
  
              <article class="comment-section">
                <label class="comments">Comments:</label>
                {% if request.user.is_authenticated %}
                 <div class="comments-list">
                    <p class="post-comment-p"></p>
                 </div>
                  <form method="POST">
                    {{ form.comment }}
                    <button class="btn btn-default mt-4 post-comment-button" name="comment">Post</button>
                  </form>
                {% else %}
                
                 <div class="comments-list">
                    <p class="post-comment-p"></p>
                 </div>
                {% endif %}
              </article>
              
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!-- gallery end -->
{% endblock blkContent %}