{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block blkContent %}

<div class="heading text-center">
  <h1>Post Your Ride</h1>
</div>
<div class="row">
  <div class="col-lg-8 col-md-12 col-12 offset-lg-2">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        {{ form|crispy }}
      <div class="form-group text-center">
        <button class="btn btn-default" type="submit">
          Post
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock blkContent %}